Repository xinquiry/Xyzen: changes, and which pre-commit hooks are due for each by the changed paths.
All: pyright, eslint, typescript-check

pyright:
  language: system
  args:
  - --project=service/pyproject.toml
  entry: bash -c 'cd service && uv run --active pyright .'
  name: Pyright type checking (Python)

eslint:
  name: ESLint linting (Frontend)
  entry: bash -c 'cd web && yarn lint --fix'
  language: system
  pass_filenames: false

typescript-check:
  name: TypeScript type checking (Frontend)
  entry: bash -c 'cd web && yarn type-check'
  language: system
  pass_filenames: false

refactor: update GitHub token in release workflow
  .github/workflows/release.yaml
  web/src/components/modals/settings/AboutSettings.tsx
  web/src/i18n/locales/en/settings.json
  web/src/i18n/locales/ja/settings.json
  web/src/i18n/locales/zh/settings.json
Due: eslint, typescript-check

chore(release): 1.0.0 [skip ci]
  CHANGELOG.md
  service/pyproject.toml
  web/package.json
Due: pyright

fix: require graph_config for marketplace publishing (#188)
  service/app/api/v1/marketplace.py
  web/src/components/features/PublishAgentModal.tsx
  web/src/components/modals/AgentSettingsModal.tsx
  web/src/components/modals/editSession/WorkflowEditor.tsx
  web/src/i18n/locales/en/agents.json
  web/src/i18n/locales/en/marketplace.json
  web/src/i18n/locales/ja/agents.json
  web/src/i18n/locales/ja/marketplace.json
  web/src/i18n/locales/zh/agents.json
  web/src/i18n/locales/zh/marketplace.json
Due: pyright, eslint, typescript-check

chore(release): 1.0.1 [skip ci]
  CHANGELOG.md
  service/pyproject.toml
  web/package.json
Due: pyright

fix: enhance release workflow with build metadata and notifications
  .github/workflows/release.yaml
Due: none

chore(release): 1.0.2 [skip ci]
  CHANGELOG.md
  service/pyproject.toml
  web/package.json
Due: pyright

fix: update uv.lock
  service/uv.lock
Due: pyright

chore(release): 1.0.3 [skip ci]
  CHANGELOG.md
  service/pyproject.toml
  web/package.json
Due: pyright

fix: update dependency installation command in Dockerfile
  service/Dockerfile
Due: pyright

chore(release): 1.0.4 [skip ci]
  CHANGELOG.md
  service/pyproject.toml
  web/package.json
Due: pyright

fix: correct redemption API path and wallet query key (#190)
  web/src/components/features/CheckInCalendar.tsx
  web/src/service/redemptionService.ts
Due: eslint, typescript-check

chore(release): 1.0.5 [skip ci]
  CHANGELOG.md
  service/pyproject.toml
  web/package.json
Due: pyright

fix: restore redemption API path from /business to /redemption (#191)
  service/app/api/v1/__init__.py
  service/uv.lock
  web/src/service/redemptionService.ts
Due: pyright, eslint, typescript-check

chore(release): 1.0.6 [skip ci]
  CHANGELOG.md
  service/pyproject.toml
  web/package.json
Due: pyright

fix: add uv installation and update version sync process
  .github/workflows/release.yaml
  .releaserc.json
  scripts/sync-version.mjs
  service/Dockerfile
Due: pyright

chore(release): 1.0.7 [skip ci]
  CHANGELOG.md
  service/pyproject.toml
  service/uv.lock
  web/package.json
Due: pyright

chore(release): 1.0.8 [skip ci]
  CHANGELOG.md
  service/pyproject.toml
  service/uv.lock
  web/package.json
Due: pyright

fix: fix fork problem and add lock mode (#202)
  AGENTS.md
  justfile
  service/app/agents/builtin/react.py
  service/app/agents/factory.py
  service/app/api/v1/agents.py
  service/app/api/v1/marketplace.py
  service/app/core/marketplace/agent_marketplace_service.py
  service/app/models/agent.py
  service/app/models/agent_marketplace.py
  service/app/repos/agent.py
  service/app/schemas/graph_config.py
  service/migrations/versions/90e892e60144_add_config_visibility_and_config_.py
  service/tests/unit/agents/test_factory.py
  web/src/app/marketplace/AgentMarketplaceDetail.tsx
  web/src/app/marketplace/AgentMarketplaceManage.tsx
  web/src/components/features/ForkAgentModal.tsx
  web/src/components/features/PublishAgentModal.tsx
  web/src/components/modals/AgentSettingsModal.tsx
  web/src/components/modals/editSession/WorkflowEditor.tsx
  web/src/hooks/useXyzenChat.ts
  web/src/i18n/locales/en/marketplace.json
  web/src/i18n/locales/ja/marketplace.json
  web/src/i18n/locales/zh/marketplace.json
  web/src/service/marketplaceService.ts
  web/src/types/agents.ts
  web/src/types/graphConfig.ts
  web/src/utils/agentConfigMapper.ts
Due: pyright, eslint, typescript-check

chore(release): 1.0.9 [skip ci]
  CHANGELOG.md
  service/pyproject.toml
  service/uv.lock
  web/package.json
Due: pyright

fix: move tool_costs outside the tier_rate computing (#204)
  service/app/core/consume_strategy.py
Due: pyright

chore(release): 1.0.10 [skip ci]
  CHANGELOG.md
  service/pyproject.toml
  service/uv.lock
  web/package.json
Due: pyright

fix: implement drag-and-drop file upload and multi-selection in FileList
  web/src/components/knowledge/FileList.tsx
  web/src/components/knowledge/ImageThumbnail.tsx
  web/src/components/knowledge/Layout.tsx
  web/src/i18n/locales/en/knowledge.json
  web/src/i18n/locales/ja/knowledge.json
  web/src/i18n/locales/zh/knowledge.json
Due: eslint, typescript-check

chore(release): 1.0.11 [skip ci]
  CHANGELOG.md
  service/pyproject.toml
  service/uv.lock
  web/package.json
Due: pyright

fix: add file upload progress tracking and UI component
  docker/docker-compose.dev.yaml
  web/src/app/marketplace/AgentMarketplaceDetail.tsx
  web/src/components/knowledge/Layout.tsx
  web/src/components/knowledge/UploadProgress.tsx
  web/src/i18n/locales/en/common.json
  web/src/i18n/locales/en/knowledge.json
  web/src/i18n/locales/ja/common.json
  web/src/i18n/locales/ja/knowledge.json
  web/src/i18n/locales/zh/common.json
  web/src/i18n/locales/zh/knowledge.json
  web/src/service/fileService.ts
Due: eslint, typescript-check

chore(release): 1.0.12 [skip ci]
  CHANGELOG.md
  service/pyproject.toml
  service/uv.lock
  web/package.json
Due: pyright

fix: refactor GitHub Actions workflow for building and pushing Docker images
  .github/workflows/ghcr-build.yml
Due: none

chore(release): 1.0.13 [skip ci]
  CHANGELOG.md
  service/pyproject.toml
  service/uv.lock
  web/package.json
Due: pyright

fix: add GitHub Actions workflow for syncing base Docker images
  .github/workflows/sync-base-images.yml
Due: none

chore(release): 1.0.14 [skip ci]
  CHANGELOG.md
  service/pyproject.toml
  service/uv.lock
  web/package.json
Due: pyright

fix: improve Docker image sync retries and error handling
  .github/workflows/sync-base-images.yml
Due: none

chore(release): 1.0.15 [skip ci]
  CHANGELOG.md
  service/pyproject.toml
  service/uv.lock
  web/package.json
Due: pyright

sync: paper-tool] (#205)
  service/app/mcp/literature.py
  service/app/tools/builtin/__init__.py
  service/app/tools/builtin/literature.py
  service/app/tools/capabilities.py
  service/app/tools/prepare.py
  service/app/tools/registry.py
  web/src/components/layouts/components/ChatToolbar/ToolSelector.tsx
  web/src/core/agent/toolConfig.ts
  web/src/i18n/locales/en/app.json
  web/src/i18n/locales/zh/app.json
Due: pyright, eslint, typescript-check

fix: enhance development setup instructions and add auto-scroll for agent selection
  README.md
  web/src/app/chat/spatial/FocusedView.tsx
  web/src/components/agents/AgentListItem.tsx
  web/src/i18n/locales/en/agents.json
  web/src/i18n/locales/ja/agents.json
  web/src/i18n/locales/zh/agents.json
Due: eslint, typescript-check

chore(release): 1.0.16 [skip ci]
  CHANGELOG.md
  service/pyproject.toml
  service/uv.lock
  web/package.json
Due: pyright

feat: add drag-and-drop agent reordering and auto-update on version mismatch (#206)
  service/app/api/v1/agents.py
  service/app/models/agent.py
  service/app/repos/agent.py
  service/migrations/versions/5c6c342a4420_add_sort_order_to_agent.py
  web/package.json
  web/src/app/App.tsx
  web/src/app/chat/spatial/FocusedView.tsx
  web/src/components/agents/AgentList.tsx
  web/src/components/agents/AgentListItem.tsx
  web/src/components/agents/index.ts
  web/src/components/features/UpdateOverlay.tsx
  web/src/components/features/index.ts
  web/src/components/layouts/XyzenAgent.tsx
  web/src/components/layouts/components/ChatToolbar/ToolSelector.tsx
  web/src/components/layouts/components/TierInfoModal.tsx
  web/src/hooks/queries/useSystemQuery.ts
  web/src/hooks/useAutoUpdate.ts
  web/src/i18n/locales/en/app.json
  web/src/i18n/locales/en/common.json
  web/src/i18n/locales/ja/app.json
  web/src/i18n/locales/ja/common.json
  web/src/i18n/locales/zh/app.json
  web/src/i18n/locales/zh/common.json
  web/src/store/slices/agentSlice.ts
  web/src/types/agents.ts
  web/yarn.lock
Due: pyright, eslint, typescript-check

fix: resolve version mismatch causing refresh loops in test environment (#207)
  .github/workflows/beta.yaml
  web/src/app/App.tsx
  web/src/components/agents/AgentList.tsx
  web/src/components/features/UpdateOverlay.tsx
  web/src/components/features/index.ts
  web/src/hooks/useAutoUpdate.ts
Due: eslint, typescript-check

Fix: Unify tool call UI (pills in agent timeline) for streaming + refresh (#208)
  web/src/app/App.tsx
  web/src/app/AppSide.tsx
  web/src/app/auth/AuthErrorScreen.tsx
  web/src/app/landing/LandingPage.tsx
  web/src/components/animate-ui/components/texts/typewriter.tsx
  web/src/components/features/AuthStatus.tsx
  web/src/components/layouts/XyzenAgent.tsx
  web/src/components/layouts/components/AgentStepAccordion.tsx
  web/src/components/layouts/components/ChatBubble.tsx
  web/src/components/layouts/components/ToolCallCard.tsx
  web/src/components/layouts/components/ToolCallDetails.tsx
  web/src/components/layouts/components/ToolCallDetailsModal.tsx
  web/src/components/layouts/components/ToolCallPill.tsx
  web/src/core/auth.ts
  web/src/core/chat/messageProcessor.ts
  web/src/i18n/i18n.ts
  web/src/i18n/locales/en/app.json
  web/src/i18n/locales/en/landing.json
  web/src/i18n/locales/ja/app.json
  web/src/i18n/locales/ja/landing.json
  web/src/i18n/locales/zh/app.json
  web/src/i18n/locales/zh/landing.json
  web/src/utils/authFlow.ts
Due: eslint, typescript-check

Preserve phase text when copying streamed output
  web/src/components/layouts/components/ChatBubble.tsx
  web/src/store/slices/chatSlice.ts
Due: eslint, typescript-check

Extract agent phase content helper
  web/src/components/layouts/components/ChatBubble.tsx
  web/src/core/chat/agentExecution.ts
  web/src/store/slices/chatSlice.ts
Due: eslint, typescript-check

Path conditions:
  pyright: any of: ^service/
  eslint: any of: ^web/src/.*\.[jt]sx?$
  typescript-check: any of: ^web/.*\.tsx?$
